
@font-face {
 font-family:"Cursed Timer ULiL" ;
 src: url(CursedTimerUlil-Aznm.ttf);
}

body {
 margin: 0;
 font-family: "Cursed Timer ULiL";
 text-align: center;
 display: flex;
 justify-content: center;
 align-items: center;
}

.container {
 display: flex;
 justify-content: space-around;
 width: 575px;
 height: 420px;
 background: #064E3B;
 color: #EEE;
 position: relative;
}
h3{
 font-family: Verdana;
 font-size: 40px;
 font-style: normal;
 font-weight: 700;
 margin-bottom: 0px;
 margin-top: 70px;
 
}
.panel {
 width: 155px;
 height: 120px;
 background-color: black;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
 border-radius: 5px ;
}
span{
 color: #F94F6D;
 font-size: 90px;
 font-style: normal;
 font-weight: 400;
}
.buttons{
 margin-top: 15px;
}

button{
 width: 45px;
 height: 45px;
 flex-shrink: 0;
 width: 45px;
 height: 45px;
 flex-shrink: 0;
 border-radius: 5px;
 border: 2px solid #9AABD8;
 background: none;
 color: #9AABD8;
 font-family: "Cursed Timer ULiL";
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 cursor: pointer;
}
#new-game{
 font-family: sans-serif;
 width: 200px;
 height: 40px;
 border: 2px solid #9AABD8;
 position: absolute;
 bottom: 20;
}
